/************** METRICS ***************/
hmtl {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

//footer at bottom fix
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}

body.row {
    margin-bottom: 0;
}

/***************************************************/

%mobileSizeContainer{ 
    @extend .col, .s12; 
}

$mediumScreenFontSize: 1.5em;
$maxContainerWidth: 1050px;

footer {
    @extend .page-footer;
    padding-top: 0;


    > .footer-copyright {
        > .container {
            max-width: $maxContainerWidth;
            float: none !important;

            @extend %mobileSizeContainer;

            > a {
                @extend .grey-text, .text-lighten-4, .right;
            }
        }
    }
}

#main-nav {
    overflow: auto;
    height: initial;
    @extend %mobileSizeContainer;
    
    > .container {
        max-width: $maxContainerWidth;
    }
}