$border-color: #009688;

.oval-speech {
    position:relative;
    padding: 20px 0px;
    margin:1em auto 60px;
    border:1px solid $border-color;
    text-align:center;
    color:#333;
    background:#fff;
    /* css3 */
    /*
    NOTES:
    -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
    -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
    Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
    */
    -webkit-border-top-left-radius:240px 140px;
    -webkit-border-top-right-radius:240px 140px;
    -webkit-border-bottom-right-radius:240px 140px;
    -webkit-border-bottom-left-radius:240px 140px;
    -moz-border-radius:240px / 140px;
    border-radius:240px / 140px;
}

/* creates larger curve */
.oval-speech:before {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-30px;
    right:54%;
    width:55px;
    height:30px;
    border-style:solid;
    border-width:0 1px 1px 0;
    border-color:$border-color;
    margin-right:-10px;
    background:transparent;
    /* css3 */
    -webkit-border-bottom-right-radius:80px 50px;
    -moz-border-radius-bottomright:80px 50px;
    border-bottom-right-radius:80px 50px;
    /* reduce the damage in FF3.0 */
    display:block;
}

/* creates smaller curve */
.oval-speech:after {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-30px;
    right:55%;
    width:20px;
    height:31px;
    border-style:solid;
    border-width:0 1px 1px 0;
    border-color:$border-color;
    margin-right:20px;
    background:transparent;
    /* css3 */
    -webkit-border-bottom-right-radius:40px 50px;
    -moz-border-radius-bottomright:40px 50px;
    border-bottom-right-radius:40px 50px;
    /* reduce the damage in FF3.0 */
    display:block;
}

// creates a small circle to produce a rounded point where the two curves meet 
/*.oval-speech > :first-child:before {
    content:"";
    position:absolute;
    z-index:1;
    bottom:-30px;
    right:48%;
    width:5px;
    height:5px;
    margin-right:45px;
    background:#f3961c;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}*/

// creates a white rectangle to cover part of the oval border
.oval-speech > :first-child:after {
    content:"";
    position:absolute;
    z-index:1;
    bottom:-10px;
    right:50%;
    width:30px;
    height:15px;
    background:#fff;
}
