@import "../materialize/sass/materialize.scss";
@import "../materialize/_material-icons.scss";

@import "_global.scss";
@import "_mixin.scss";



fieldset {
    @extend .z-depth-1;
}

form {
    button {
        float: right;
    }
}

thead {
    font-weight: bold;
}

/******************************************************************
            N A V I G A T I O N
*******************************************************************/

@media #{$large-and-up} {
    header, main, footer {
        padding-left: 250px;
    }
}

#main-nav {
    @extend .grey, .darken-3;
}

#logout-form {
    display: none;
}

/******************************************************************
            T A B S
*******************************************************************/
#option-tabs {
    display: none !important;
}

main {
    .tab-content,
    .tab-content > .row > * {
        padding: 0 !important;
    }
}


/******************************************************************
            M A I N
*******************************************************************/

#category-insert,
#activity-insert,
#food-insert {
    @extend .col, .s12, .m8, .l6;
    float: none !important;
    margin: 0 auto;
}

#category-edit,
#food-edit,
#activity-edit {
    margin-left: 2%;
    
    .restaurant-select {
        @extend .col, .s12, .m8, .l6;
        float: none !important;
        margin: 0 auto;
    }

}

.secondary-tabs {
    margin-bottom: 6vw;
}

