@import "../materialize/sass/materialize.scss";
@import "../swiper/_swiper.scss";
@import "../materialize/_material-icons.scss";

@import "_global.scss";
@import "_mixin.scss";
@import "_speech-bubble.scss";


/******************************************************************
            R E S E T
*******************************************************************/

input[type=radio] {
    display: none;

    + label {
        &:after, &:before {
            display: none;
        }
    }
}


/******************************************************************
            H E A D E R
*******************************************************************/

#main-nav {
    @extend .center-align;
    line-height: initial;
}

#restaurant-list {
    display: inline-block;
    text-align: center;

    > li {
        @extend .waves-light;

        display: inline-block;
        padding: 1%;
        width: 20%;
        max-width: 80px;
        float: none;

        > .restaurant-radio-label {
            padding: 0;
            width: 100%;
            height: 100%;

            > .restaurant-image {
                width: 100%;
                height: 100%;
            }
        }

        @media screen and (min-height: $small-screen-up) {
            max-width: 120px;
        }
    }

    @media #{$medium-and-up} {
        word-spacing: 15px;
    }


}




/******************************************************************
            M A I N
*******************************************************************/

#control-panel {
    @extend %mobileSizeContainer;
    max-width: $maxContainerWidth;
}

#category-select {
    @extend .col, .s12, .l6;

    margin-top: 2em;

    &.empty {
        visibility: hidden;
    }

    > .select-wrapper {
        > input {
            @media #{$medium-and-up} {
                font-size: $mediumScreenFontSize;
            }
        }
    }
}

@keyframes slide-from-left {
    from {
        margin-left: -300px;
    }

    to {
        margin-left: 50px;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#fat-albert {
    @extend .col, .s12, .m6;
    position: relative;
    margin: 5em auto 0;
    z-index: 100;
    transition: all 1s ease;

    > img {
        animation: slide-from-left 1s ease-out;
        width: 200px;
        margin-left: -300px;
        margin-left: 50px;
        transform: rotateY(180deg);
    }

    > .oval-speech {
        opacity: 0;
        position: absolute;
        animation: fade-in 1s ease-out 1s both;
        animation-fill-mode: both;
        left: 150px;
        top: -100px;
        box-shadow: -3px 7px 1px 0px rgba(0,0,0,0.1);

        > p {
            opacity: 0;
            animation: fade-in 1s ease-out 1.2s both;
            white-space: pre-line;
        }
    }

    &.hidden {
        transform: scale(0);
        animation: fade-out 1s ease both;
        height: 0;

    }

    @media #{$medium-and-up} {
        width: 400px;
    }
}

#preloader {
    position: fixed;
    transition: 1s;
    width: 0;
    bottom: 30%;
    left: 0;
    z-index: 300;
    visibility: hidden;

    > .preloader-wrapper {
        left: 50%;
        margin-left: -32px;
        z-index: 500;
    }
}

#preload-arrow {
    width: 100%;
    height: 2px;
    margin: 0;
    opacity: .8;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef9a9a+0,f48fb1+20,ce93d8+35,b39ddb+52,9fa8da+65,90caf9+75,80cbc4+83,c5e1a5+93,fff59d+100 */
    background: rgb(239,154,154); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(239,154,154,1) 0%, rgba(244,143,177,1) 20%, rgba(206,147,216,1) 35%, rgba(179,157,219,1) 52%, rgba(159,168,218,1) 65%, rgba(144,202,249,1) 75%, rgba(128,203,196,1) 83%, rgba(197,225,165,1) 93%, rgba(255,245,157,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(239,154,154,1) 0%,rgba(244,143,177,1) 20%,rgba(206,147,216,1) 35%,rgba(179,157,219,1) 52%,rgba(159,168,218,1) 65%,rgba(144,202,249,1) 75%,rgba(128,203,196,1) 83%,rgba(197,225,165,1) 93%,rgba(255,245,157,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(239,154,154,1) 0%,rgba(244,143,177,1) 20%,rgba(206,147,216,1) 35%,rgba(179,157,219,1) 52%,rgba(159,168,218,1) 65%,rgba(144,202,249,1) 75%,rgba(128,203,196,1) 83%,rgba(197,225,165,1) 93%,rgba(255,245,157,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef9a9a', endColorstr='#fff59d',GradientType=1 ); /* IE6-9 */

    display: inline-block;
    position: absolute;
    bottom: -3px;
    left: 0;

    &::after {
        $yell: color("yellow","darken-1");

        content: "";
        display: block;
        border-style: solid;
        border-width: 2px;
        width: 10px;
        height: 10px;
        border-color: $yell $yell transparent transparent;
        position: absolute;
        right: 0;
        top: -4px;
        transform: rotate(45deg);
    }
}

.food-image {
    width: 100%;
}

#food-list {
    @extend .hide-on-large-only;
    width: 100%;
    font-size: .7em;

    .food {
        text-align: center;

        @media(min-width: 400px) {
            font-size: 1em;
        }
    }
}

#carousel-navigation {
    @extend .hide-on-large-only;
    max-width: 500px;
    margin: 0 auto 20px auto;
    visibility: hidden;

    > i {
        @extend .red-text, .text-lighten-4, .waves-circle, .waves-red;
        cursor: pointer;
        font-size: 2.5em;
        width: 2em;
        height: 2em;
        line-height: 2em;
        border-radius: 50%;

        &:hover {
            @extend .red-text, .text-lighten-2;
        }

        &:last-of-type {
            float: right;
        }
    }
}

#food-list-bigscreen {
    @extend .col, .l6, .hide-on-med-and-down;

    .row {
        margin-bottom: 0;
        .food {
            @extend .col, .s3, .flow-text;
            text-align: center;
            font-size: 1em;
        }
    }
}

#user-meal-list {
    @extend .col, .s12, .l6;

    padding: 0;
    list-style-type: none;
    font-size: .85em;
    visibility: hidden;

    @media (min-width: 350px){
        font-size: 1em;
    }

    > li {
        > .collapsible-header {
            .material-icons:last-of-type {
                float: right;
                transform: rotate(90deg);
                opacity: .2;
            }
        }

        > .collapsible-body {
            @extend .grey, .lighten-3;

            margin-top: 0;
            padding: 0;
        }
    }
}

#result-bar {
    @extend .light-blue, .darken-2;

    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    display: none;
    text-align: center;
    z-index: 100;
    height: 30px;
    line-height: 30px;
    color: white;

    > * {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }

    > i {
        margin-left: 20px;
        @media #{$medium-and-up} {
            font-size: $mediumScreenFontSize;
        }
    }

    @media #{$medium-and-up} {
        height: 50px;
        line-height: 50px;
        font-size: $mediumScreenFontSize;
    }
}

#modal {
    em {
        font-weight: 500;
        font-style: initial;
    }
}

#modal {
    @media #{$medium-and-up} {
        > .modal-content {
            padding-left: 80px;

            > h4 {
                font-size: 3em;
            }

            > p {
                font-size: $mediumScreenFontSize;
            }
        }

        > .modal-footer {
            font-size: $mediumScreenFontSize;
        }
    }
}

#activities-list {
    list-style-type: circle;
    padding: initial;
    padding-left: 2em;
    @extend .purple-text, .text-darken-3;


    > li {
        list-style-type: inherit;
    }

    @media #{$medium-and-up} {
        font-size: $mediumScreenFontSize;
    }
}


/******************************************************************
            F O O T E R
*******************************************************************/
