@import "../materialize/sass/materialize.scss";
@import "../materialize/_material-icons.scss";

@import "_global.scss";
@import "_mixin.scss";

/******************************************************************
            H E A D E R
*******************************************************************/

#main-nav {
    > .container {
        > .brand-logo {
            margin: 0;
            line-height: 2em;
        }
    }
}


/******************************************************************
            M A I N
*******************************************************************/

main {
    margin: 5vw auto 0 auto;
    max-width: $maxContainerWidth;

    > form {
        > fieldset {
            @extend .z-depth-1;
        }

        button {
            float: right;
        }

        .input-field {
            @extend .col, .s12, .m10, .l8;
            width: 100% !important;
        }
    }


    @media (min-height: $small-screen-up) {
        margin: 10vw auto 0 auto;
    }
}

#redirect-message {
    > .status {
        display: none;
    }
}

#message {
    font-size: 2em;
}