<!DOCTYPE html>
<html lang="EN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Admin dashboard</title>
        <meta name="description" content="Admin panel"/>

        <meta name="_csrf" content="fakeyfake" th:name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" content="fakeyfake" th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   
        <link rel="shortcut icon" href="../static/img/admin-favicon.ico" th:href="@{/img/favicon.ico}"/>
        <!--        <link rel="stylesheet" href="../static/css/admin-dashboard.css" type="text/css" th:href="@{/css-dist/admin-dashboard.min.css}"/>-->
        <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/admin-dashboard.css}"/>
    </head>

    <body>
        <nav id="main-nav" class="nav-wrapper">
            <ul id="slide-out" class="side-nav fixed">
                <li>
                    <div class="userView">
                        <div class="background">
                            <img th:src="@{/img/admin-sidenav.png}" src="../static/img/admin-sidenav.png" alt="tło paska nawigacji"/>
                        </div>
                        <i class="material-icons">build</i>
                        <p class="white-text name" th:inline="text">[[${#httpServletRequest.remoteUser}]]</p>
                    </div>
                </li>
                <li><a id="logout" href="#!"><i class="material-icons">exit_to_app</i>Logout</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Panel sterowania</a></li>

                <li class="active"><a id="show-foods" class="action-link">Jedzenie</a></li>
                <li><a id="show-categories" class="action-link">Kategorie</a></li>
                <li><a id="show-activities" class="action-link">Aktywności</a></li>

                <li class="dropdown-side-menu no-padding">
                    <ul class="collapsible">
                        <li>
                            <a class="collapsible-header">Baza danych<i class="material-icons">arrow_drop_down</i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a id="load-foods" class="action-link waves-effect">Przeładuj jedzenie</a></li>
                                    <li><a id="load-categories" class="action-link waves-effect">Przeładuj kategorie</a></li>
                                    <li><a id="load-activities" class="action-link waves-effect">Przeładuj aktywności</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            <form id="logout-form" th:action="@{/logout}" method="POST" style="display: none;">
                <button type="submit" value=""/>
            </form>
        </nav>

        <main>
            <div class="row">
                <div id="option-tabs" class="col s12">
                    <ul id="main-tabs" class="tabs">
                        <li class="tab col s12"><a href="#tab-foods">Jedzenie</a></li>
                        <li class="tab col s12"><a href="#tab-categories">Kategorie</a></li>
                        <li class="tab col s12"><a href="#tab-activities">Aktywności</a></li>
                    </ul>
                </div>
                <div id="tab-foods" class="tab-content col s12">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs secondary-tabs">
                                <li class="tab col s6"><a class="active" href="#food-insert">Wprowadzanie</a></li>
                                <li class="tab col s6"><a href="#food-edit">Edycja</a></li>
                            </ul>
                        </div>
                        <div id="food-insert">
                            <form action="#" id="add-food-form" th:action="@{/admin/save-food}" th:object="${simpleFood}" method="post" enctype="multipart/form-data">
                                <fieldset>
                                    <legend>Dane</legend>

                                    <div class="input-field">
                                        <select id="restaurant-select-foods" required="" th:field="*{restaurant}" name="restaurant">
                                            <option value="" disabled="" selected="">Wybierz restaurację…</option>
                                            <option th:each="restaurant : ${T(bedegruba.domain.Restaurant).values()}"
                                                    th:value="${restaurant}" 
                                                    th:text="${restaurant}">
                                            </option>
                                        </select>
                                        <label for="restaurant-select-foods">Restauracja</label>
                                    </div>

                                    <div class="input-field">
                                        <select id="food-categories" required="" th:field="*{category.id}" name="category">
                                            <option value="" disabled="" selected="">Wybierz kategorię…</option>
                                        </select>
                                        <label for="food-categories">Kategoria</label>
                                    </div>

                                    <div class="input-field">
                                        <label for="name">Nazwa</label>
                                        <input id="name" type="text" required="" th:field="*{name}" name="name" class="validate"/>
                                    </div>

                                    <div class="input-field">
                                        <label for="kcal">Kcal</label>
                                        <input id="kcal" type="number" required="" th:field="*{kcal}" name="kcal" class="validate"/>
                                    </div>

                                    <div class="input-field">
                                        <label for="carbohydrates">Węglowowany</label>
                                        <input id="carbohydrates" type="number" required="" th:field="*{carbohydrates}" name="carbohydrates" class="validate"/>
                                    </div>

                                    <div class="input-field">
                                        <label for="proteins">Białko</label>
                                        <input id="proteins" type="number" required="" th:field="*{proteins}" name="proteins" class="validate"/>
                                    </div>

                                    <div class="input-field">
                                        <label for="fats">Tłuszcze</label>
                                        <input id="fats" type="number" required="" th:field="*{fats}" name="fats" class="validate"/>
                                    </div>

                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>Zdjęcie</span>
                                            <input type="file" th:field="*{multipartImage}" name="multipartImage" accept="image/*"/>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text"/>
                                        </div>
                                    </div>

                                    <button class="btn waves-effect waves-light" type="submit" name="action">Zapisz
                                        <i class="material-icons right">send</i>
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                        <div id="food-edit" class="col s12 m11">
                            <div class="input-field  restaurant-select">
                                <select name="restaurant">
                                    <option value="" disabled="" selected="">Wybierz restaurację…</option>
                                    <option th:each="restaurant : ${T(bedegruba.domain.Restaurant).values()}"
                                            th:value="${restaurant}" 
                                            th:text="${restaurant}">
                                    </option>
                                </select>
                                <label for="restaurant-select-foods">Restauracja</label>
                            </div>
                            <table id="foods-table" class="responsive-table bordered highlight">
                                <thead>
                                    <tr>
                                        <td data-field="id">Id</td>
                                        <td data-field="created">Stworzono</td>
                                        <td data-field="restaurant">Restauracja</td>
                                        <td data-field="category_id">Id kategorii</td>
                                        <td data-field="name">Nazwa</td>
                                        <td data-field="kcal">Kcal</td>
                                        <td data-field="carbohydrates">Węglowodany</td>
                                        <td data-field="proteins">Białko</td>
                                        <td data-field="fats">Tłuszcze</td>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tab-categories" class="tab-content col s12">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs secondary-tabs">
                                <li class="tab col s6"><a class="active" href="#category-insert">Wprowadzanie</a></li>
                                <li class="tab col s6"><a href="#category-edit">Edycja</a></li>
                            </ul>
                        </div>
                        <div id="category-insert" class="col s12">
                            <form action="#" id="add-category-form" th:action="@{/admin/save-category}" th:object="${simpleCategory}" method="post">
                                <fieldset>
                                    <legend>Dane</legend>
                                    <div class="input-field">
                                        <select id="restaurant-select-categories" required="" th:field="*{restaurant}" name="restaurant">
                                            <option value="" disabled="" selected="">Wybierz restaurację…</option>
                                            <option th:each="restaurant : ${T(bedegruba.domain.Restaurant).values()}"
                                                    th:value="${restaurant}" 
                                                    th:text="${restaurant}">
                                            </option>
                                        </select>
                                        <label for="restaurant-select-categories">Restauracja</label>
                                    </div>
                                    <div class="input-field">
                                        <label for="category-name2">Nazwa kategorii</label>
                                        <input id="category-name2" type="text" required="" th:field="*{name}" name="name" class="validate"/>
                                    </div>
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Zapisz
                                        <i class="material-icons right">send</i>
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                        <div id="category-edit" class="col s12 m11">
                            <table id="categories-table" class="responsive-table bordered highlight">
                                <thead>
                                    <tr>
                                        <td data-field="id">Id</td>
                                        <td data-field="restaurant">Restauracja</td>
                                        <td data-field="name">Nazwa</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="category : ${categories}">
                                        <td th:text="${category.id}"></td>
                                        <td th:text="${category.restaurant}"></td>
                                        <td th:text="${category.name}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="tab-activities" class="tab-content col s12">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs secondary-tabs">
                                <li class="tab col s6"><a class="active" href="#activity-insert">Wprowadzanie</a></li>
                                <li class="tab col s6"><a href="#activity-edit">Edycja</a></li>
                            </ul>
                        </div>
                        <div id="activity-insert" class="col s12">
                            <form action="#" id="add-activity-form" th:action="@{/admin/save-activity}" th:object="${simpleActivity}" method="post">
                                <fieldset>
                                    <legend>Dane</legend>
                                    <div class="input-field">
                                        <label for="activity-name">Nazwa aktywności</label>
                                        <input id="activity-name" type="text" required="" th:field="*{name}" name="name" class="validate"/>
                                    </div>
                                    <div class="input-field">
                                        <label for="duration">Czas by spalić 100kcal</label>
                                        <input id="duration" type="number" required="" th:field="*{duration}" name="duration" class="validate"/>
                                    </div>
                                    <button class="btn waves-effect waves-light" type="submit" name="action">Zapisz
                                        <i class="material-icons right">send</i>
                                    </button>
                                </fieldset>
                            </form>
                        </div>
                        <div id="activity-edit" class="col s12 m11">
                            <table id="activities-table" class="responsive-table bordered highlight">
                                <thead>
                                    <tr>
                                        <td data-field="id">Id</td>
                                        <td data-field="name">Nazwa</td>
                                        <td data-field="duration">Czas</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="activity : ${activities}">
                                        <td th:text="${activity.id}"></td>
                                        <td th:text="${activity.name}"></td>
                                        <td th:text="${activity.duration} + ' min.'"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div id="confirmation-modal" class="modal">
                <div class="modal-content">
                    <h4>Header</h4>
                    <p>Message</p>
                </div>
                <div class="modal-footer">
                    <a id="modal-ok" href="#!" class="modal-close waves-effect waves-green btn-flat">Zgadzam się</a>
                    <a id="modal-cancel" href="#!" class="modal-close waves-effect waves-green btn-flat">Przerwij</a>
                </div>
            </div>

            <div id="info-modal" class="modal">
                <div class="modal-content">
                    <h4>Header</h4>
                    <p>Message</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
                </div>
            </div>
        </main>

        <footer>
        </footer>

        <!--        <script src="" th:src="@{/js-dist/admin-dashboard.es5.min.js}"/>-->
        <script src="" th:src="@{/js-dist/libs/jquery-3.1.1.min.js}"></script>
        <script src="" th:src="@{/js-dist/libs/materialize.min.js}"></script>
        <script src="" th:src="@{/js/admin-dashboard.js}"></script>
    </body>
</html>