<!DOCTYPE html>
<html lang="PL" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Ile zjadłam?</title>

        <meta charset="UTF-8"/>
        <meta name="description" content="Sprawdź ile zjadłaś w popularnej sieciówce"/>
        <meta name="keywords" content="kalorie, tłuszcz, grubas"/>

        <!-- refresh every 25 minutes -->
        <meta http-equiv="refresh" content="1500"/>
        <meta name="_csrf" content="fakeyfake" th:name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" content="fakeyfake" th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="shortcut icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
        <!--        <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css-dist/index.min.css}"/>-->
        <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/index.css}"/>
    </head>
    <body class="row">
        <nav id="main-nav" class="nav-wrapper">
            <ul id="restaurant-list">
                <li class="waves-effect" th:each="restaurant : ${T(bedegruba.domain.Restaurant).values()}" >
                    <input type="radio"
                           th:id="${restaurant}"
                           th:name="restaurants"
                           th:value="${restaurant}" />
                    <label class="restaurant-radio-label" 
                           th:for="${restaurant}">
                        <img class="restaurant-image" th:src="@{'/img/' + ${restaurant} + '-logo.png'}" alt="" th:alt="${restaurant}" src=""/>    
                    </label>
                </li>
            </ul>
        </nav>
        <main id="control-panel" class="row">
            <div class="row">
                <div id="category-select" class="input-field empty">
                    <select>
                    </select>
                    <label>Categories</label>
                </div>
            </div>

            <div id="fat-albert">
                <img src="../static/img/fat_albert.png" th:src="@{'/img/fat_albert.png'}" alt='gruby albert'/>
                <blockquote class="oval-speech"><p>Wybierz miejsce
                        z paska nade mną…</p></blockquote>
            </div>

            <div id="food-list" class="swiper-container">
                <div class="swiper-wrapper">

                </div>
            </div>
            <div id="carousel-navigation">
                <i class="material-icons waves-effect">undo</i>
                <i class="material-icons waves-effect">redo</i>
            </div>
            <div id="food-list-bigscreen">
            </div>
            <ol id="user-meal-list"  class="collapsible" data-collapsible="expandable">
            </ol>

            <a id="result-bar" href="#modal">
                <p id="result-txt"></p>
                <i class="material-icons">zoom_in</i>
            </a>

            <div id="preloader">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <span id="preload-arrow"></span>
            </div>

            <!-- Modal Structure -->
            <div id="modal" class="modal bottom-sheet">
                <div class="modal-content">
                    <h4>Jak to spalić?</h4>
                    <p></p>
                    <ul id="activities-list">
                    </ul>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Zamknij</a>
                </div>
            </div>
        </main>
        <footer id="footer">
            <div class="footer-copyright">
                <div class="container">
                    &copy; 2017 Tomasz Mularczyk.
                    <a class="waves-effect waves-light" href="/login.html" th:href="@{/admin}">Jesteś adminem?</a>
                </div>
            </div>
        </footer>

        <script src="" th:src="@{/js-dist/libs/jquery-3.1.1.min.js}"></script>
        <script src="" th:src="@{/js-dist/libs/materialize.min.js}"></script>
        <script src="" th:src="@{/js-dist/libs/swiper.jquery.min.js}"></script>
        <script src="" th:src="@{/js/index.js}"></script>
    </body>
</html>
