<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Admin login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="login panel for website"/>

        <meta name="_csrf" content="fakeyfake" th:name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" content="fakeyfake" th:name="_csrf_header" th:content="${_csrf.headerName}"/>
        <link rel="shortcut icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
<!--        <link rel="stylesheet" href="../static/css/login.css" type="text/css" th:href="@{/css-dist/login.min.css}"/>-->
        <link rel="stylesheet" href="../static/css/index.css" th:href="@{css/login.css}"/>
    </head>
    <body>
        <nav id="main-nav" class="nav-wrapper">
            <div class="container">
                <h1 class="brand-logo left">Logowanie</h1>
                <ul id="nav-list" class="right">
                    <li class="waves-effect waves-light">
                        <a href="index.html" th:href="@{/}">Strona główna</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main>
            <form class="container" th:action="@{/login}" method="post">
                <fieldset class="row">
                    <legend></legend>
                    <div class="input-field">
                        <i class="material-icons prefix">account_circle</i>
                        <label for="user">User Name:</label>
                        <input id="user" class="validate autocomplete" type="text" name="username"/>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">vpn_key</i>
                        <label for="password">Password:</label> 
                        <input id="password" class="validate autocomplete" type="password" name="password"/>
                    </div>
                    <button class="btn-flat waves-effect waves-teal" type="submit" value="Log In">Log In</button>
                </fieldset>
            </form>
            <div id="redirect-message" class="row">
                <p class="status" th:if="${param.error}">error</p>
                <p class="status" th:if="${param.logout}">logout</p>
            </div>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <h4 id="message">Spróbuj jeszcze raz</h4>
                    <p id="suggestion"></p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Rozumiem</a>
                </div>
            </div>
        </main>

        <footer>
            <div class="footer-copyright">
                <div class="container">
                    &copy; 2017 Tomasz Mularczyk.
                </div>
            </div>
        </footer>

        <!--        <script src="../static/js/login.js" th:src="@{/js-dist/login.es5.min.js}"></script>-->
        <script src="" th:src="@{/js-dist/libs/jquery-3.1.1.min.js}"></script>
        <script src="" th:src="@{/js-dist/libs/materialize.min.js}"></script>
        <script src="" th:src="@{/js/login.js}"></script>
    </body>
</html>